<!doctype html>
<html lang="en" ng-app="todoApp">
    <head>
        <meta charset="utf-8">
        <title>ToDo</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/app.css" />
    </head>
    
    <body ng-controller="IgCtrl">
       
        <div class="container" align="center" style="width:500px">
            <div class="row">
                 <div class="col-md-6">
                    <a href="{{GoogleAuth}}">
                        <h4>Google Auth</h4>
                    </a>          
                </div>
                <div class="col-md-6">
                    <a href="" ng-click="tasks()">
                        <h4>Get Google Tasks</h4>
                    </a>          
                </div>
            </div>
            </br></br>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Done</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="model in models | orderBy: 'updated'">
                        <td>{{model.title}}</td>
                        <td>
                            <input type="checkbox" ng-model="model.status" ng-checked="model.status == 'completed'"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--SCRIPTS-->
        <script src="lib/jquery.min.js"></script>
        <script src="lib/bootstrap.min.js"></script>
        <script src="lib/angular/angular.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controllers/IgCtrl.js"></script>
        <script src="js/services/IgService.js"></script>
    </body>
</html>